@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  z-index: 10;
}

/* -----------------------------------------------------------------
   Google Translate Overrides (Indian Govt Style - Hidden Artifacts)
   ----------------------------------------------------------------- */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}
.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
}
#goog-gt-tt, .goog-te-balloon-frame {
    display: none !important;
}
